body {
    padding: 0;
}

.heading {
    background-color:#242525;
}

.heading__list {
    list-style: none;
    padding-left: 0;
}

.heading__list-item {
    margin: 0 12px;
    cursor: pointer;
}

.heading__item-link {
    color: #e5e5ff;
    font-size: 18px;
}

.heading-h2 {
    margin: 0;
    color: #e5e5ff;
    padding: 12px;
}

.container-content {
    display: none;
}

.active {
    display: block;
}

.body__container-introduce {
    display:block
}

p {
    font-size: 18px;
}

.footer {
    height: 84px;
    background-color: yellow;
    display: flex;
}

.footer__parag {
    margin: auto;
}

.enable {
    color: yellow
}
