body {
    padding: 0;
    margin: 0;
}

.heading {
    background-color:#242525;
    display: flex;
    height: 96px;
    justify-content: space-between;
}

.heading__list {
    list-style: none;
    padding-left: 0;
    display: flex;
    order: 2;
    margin: 0;
}

.heading__list-item {
    margin: 0 12px;
    cursor: pointer;
}

.heading__item-link {
    color: #e5e5ff;
    font-size: 18px;
    transform: translateY(64px);
    display: block;
}

.heading-h2 {
    margin: 0;
    color: #e5e5ff;
    order: 1;
    line-height: 96px;
}

.name-website {
    color: #d36969;
}

.body-email {
    display: flex;
}

.body-email input[type="text"] {
    flex: 1;
}

.container-content {
    display: none;
}

.active {
    display: block;
}

.body__container-introduce {
    display: block;
}

p {
    font-size: 18px;
}

.footer {
    height: 84px;
    background-color: yellow;
    display: flex;
}

.footer__parag {
    margin: auto;
}

.enable {
    color: yellow
}
